In [6]:
import pandas as pd
file_name = './wine.csv'
data = pd.read_csv(file_name)
data.shape

(6497, 13)

Effettuiamo calcoliamo le informazioni statistiche base (numerosità, modie, mode, mediane, quartili, ecc) sulle colonne numeriche usando python

In [9]:
print(data.describe())

       fixed acidity  volatile acidity  citric acid  residual sugar  \
count    6497.000000       6497.000000  6497.000000     6497.000000
mean        7.215307          0.339666     0.318633        5.443235
std         1.296434          0.164636     0.145318        4.757804
min         3.800000          0.080000     0.000000        0.600000
25%         6.400000          0.230000     0.250000        1.800000
50%         7.000000          0.290000     0.310000        3.000000
75%         7.700000          0.400000     0.390000        8.100000
max        15.900000          1.580000     1.660000       65.800000

         chlorides  free sulfur dioxide  total sulfur dioxide      density  \
count  6497.000000          6497.000000           6497.000000  6497.000000
mean      0.056034            30.525319            115.744574     0.994697
std       0.035034            17.749400             56.521855     0.002999
min       0.009000             1.000000              6.000000     0.987110
25%       0.038000            17.000000             77.000000     0.992340
50%       0.047000            29.000000            118.000000     0.994890
75%       0.065000            41.000000            156.000000     0.996990
max       0.611000           289.000000            440.000000     1.038980

                pH    sulphates      alcohol      quality
count  6497.000000  6497.000000  6497.000000  6497.000000
mean      3.218501     0.531268    10.491801     5.818378
std       0.160787     0.148806     1.192712     0.873255
min       2.720000     0.220000     8.000000     3.000000
25%       3.110000     0.430000     9.500000     5.000000
50%       3.210000     0.510000    10.300000     6.000000
75%       3.320000     0.600000    11.300000     6.000000
max       4.010000     2.000000    14.900000     9.000000

In [17]:
ripielogo = data.describe()
ripielogo.to_csv('wine_stats')

IRIS
Troveremo un file .data, che è un CSV, e un file .names con i metadati; questa versione del dataset non ha i nomi di colonna. • Leggiamo il file e carichiamolo in un DataFrame mediante pd.read_csv() senza utilizzare altri parametri • Stampiamo le prime cinque righe • Stampiamo i nomi di colonna: descrivono cosa c'è nella colonna relativa?

In [53]:
iris = pd.read_csv('./iris.data')
iris.iloc[:5]

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [55]:
iris.columns

Index(['5.1', '3.5', '1.4', '0.2', 'Iris-setosa'], dtype='object')

Dal dataset di prima: • Leggiamo il file e carichiamolo in un DataFrame, aggiungendo i nomi di colonna — che si trovano nel file .names — come parametro di pd.read_csv() • Stampiamo le prime cinque righe e le ultime dieci • Stampiamo un riepilogo dei descrittori statistici del dataset

In [87]:
iris = pd.read_csv('./iris.data', names = ['sepal length', 
                                           'sepal width', 
                                           'petal length', 
                                           'petal width', 
                                           'class'])
print(iris.head(), iris.tail(10))

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa      sepal length  sepal width  petal length  petal width           class
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [85]:
print(iris.iloc[:5], iris.iloc[-10:])

   sepal length  sepal width  petal length  petal width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa      sepal length  sepal width  petal length  petal width           class
140           6.7          3.1           5.6          2.4  Iris-virginica
141           6.9          3.1           5.1          2.3  Iris-virginica
142           5.8          2.7           5.1          1.9  Iris-virginica
143           6.8          3.2           5.9          2.3  Iris-virginica
144           6.7          3.3           5.7          2.5  Iris-virginica
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [89]:
iris.describe()

       sepal length  sepal width  petal length  petal width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [95]:
iris.mode()

   sepal length  sepal width  petal length  petal width            class
0           5.0          3.0           1.5          0.2      Iris-setosa
1           NaN          NaN           NaN          NaN  Iris-versicolor
2           NaN          NaN           NaN          NaN   Iris-virginica

In [111]:
iris.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'class'], dtype='object')

In [140]:
setosa = iris[iris['class']=='Iris-setosa']
setosa.describe()

       sepal length  sepal width  petal length  petal width
count      50.00000    50.000000     50.000000     50.00000
mean        5.00600     3.418000      1.464000      0.24400
std         0.35249     0.381024      0.173511      0.10721
min         4.30000     2.300000      1.000000      0.10000
25%         4.80000     3.125000      1.400000      0.20000
50%         5.00000     3.400000      1.500000      0.20000
75%         5.20000     3.675000      1.575000      0.30000
max         5.80000     4.400000      1.900000      0.60000

In [142]:
virginica = iris[iris['class']=='Iris-virginica']
virginica.describe()

       sepal length  sepal width  petal length  petal width
count      50.00000    50.000000     50.000000     50.00000
mean        6.58800     2.974000      5.552000      2.02600
std         0.63588     0.322497      0.551895      0.27465
min         4.90000     2.200000      4.500000      1.40000
25%         6.22500     2.800000      5.100000      1.80000
50%         6.50000     3.000000      5.550000      2.00000
75%         6.90000     3.175000      5.875000      2.30000
max         7.90000     3.800000      6.900000      2.50000

In [162]:
versicolor = iris[iris['class']=='Iris-versicolor']
versicolor.describe()

       sepal length  sepal width  petal length  petal width
count     50.000000    50.000000     50.000000    50.000000
mean       5.936000     2.770000      4.260000     1.326000
std        0.516171     0.313798      0.469911     0.197753
min        4.900000     2.000000      3.000000     1.000000
25%        5.600000     2.525000      4.000000     1.200000
50%        5.900000     2.800000      4.350000     1.300000
75%        6.300000     3.000000      4.600000     1.500000
max        7.000000     3.400000      5.100000     1.800000

In [164]:
versicolor.mode()

   sepal length  sepal width  petal length  petal width            class
0           5.5          3.0           4.5          1.3  Iris-versicolor
1           5.6          NaN           NaN          NaN              NaN
2           5.7          NaN           NaN          NaN              NaN

In [166]:
virginica.mode()

   sepal length  sepal width  petal length  petal width           class
0           6.3          3.0           5.1          1.8  Iris-virginica

In [168]:
setosa.mode()

   sepal length  sepal width  petal length  petal width        class
0           5.0          3.4           1.5          0.2  Iris-setosa
1           5.1          NaN           NaN          NaN          NaN

In [173]:
modes_by_species = iris.groupby('class').agg(lambda x: x.mode().iloc[0])

In [175]:
modes_by_species

                 sepal length  sepal width  petal length  petal width
class
Iris-setosa               5.0          3.4           1.5          0.2
Iris-versicolor           5.5          3.0           4.5          1.3
Iris-virginica            6.3          3.0           5.1          1.8